@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
    font-family: 'Press Start 2P', cursive;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-left: 35%;
    padding-top: 5%;

}

button {
    height: 50px;
    width: 500px;

    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.897);
    color: green;
}

canvas {
    border: 1px solid black;
    height: 500px;
    width: 500px;
}