.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 35%;
    padding-top: 5%;
}

canvas {   
    border: 1px solid black;
    height: 500px;
    width: 500px;
}